@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: grid;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  width: 100%;
  height: 100%;
}

.selected-day::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 2px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: orange;
  display: inline-block;
}

/* overrides */
.p-dialog {
  max-height: initial !important;
}

.p-datepicker-day-view {
  height: 40dvh !important;
}

.v-enter-active,
.v-leave-active {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.v-enter-from,
.v-leave-to {
  transform: translateX(10px);
  opacity: 0;
}
